* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
}

.contenedor-principal {

    background-color: rgb(255, 141, 202);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-actividades {

    display: flex;
    justify-content: center;
    align-items: center;

}