* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
}

.contenedor-principal {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

.seccion-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: rgb(255, 173, 173);
}

.seccion-agenda {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: rgb(146, 146, 255);
}

.imagen-actividad {
  max-width: 90%;
  max-height: 60%;
}

.row {
  width: 100%;
  max-width: 100%;
}
